footer.bg-white.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0.text-dark Copyright &copy; Acreboard 2024
            .col-auto
                a.link-dark.small(href='about.html') About
                span.text-white.mx-1 &middot;
                a.link-dark.small(href='terms.html') Terms
                span.text-white.mx-1 &middot;
                a.link-dark.small(href='contact.html') Contact