doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Brand highlight and story refer to a feature that enables users to share temporary media content. Especially, brand generated content such as photos and videos. The media content is visible for a set amount of time before disappearing.')
        meta(name='author', content='Acreboard')

        title What is a Brand Highlight and Story | Acreboard

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.py-5
                .container.px-5.my-5

                    .row.gx-5
                        .col-lg-9

                            // Post content
                            article

                                // Post header
                                header.mb-4

                                    // Post title
                                    h1.fw-bolder.mb-1 What is a Brand Highlight and Story?

                                    // Post meta content
                                    .text-muted.fst-italic.mb-2 March, 2024

                                    // Post categories
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='learn-home.html') Learn

                                // Post content
                                section.mb-5

                                    p.fs-5.mb-4 Brand highlight and story refer to a feature that enables users to share temporary media content. Especially, brand generated content such as photos and videos. The media content is visible for a set amount of time before disappearing. 

                                    h2.fw-bolder.mb-4.mt-5 What is a brand highlight and story?
                                    p.fs-5.mb-4 Brand highlights and stories allow you to share brand or business content seamlessly across all devices. 
                                    p.fs-5.mb-4 It provides a dynamic platform to engage your customers. It also develops deeper connections through an authentic and personal approach.
                                    p.fs-5.mb-4 It allows you to share snapshots. These snapshots provides glimpse behind the scenes. This helps create a more immersive and personal experience for your customers.

                                    h2.fw-bolder.mb-4.mt-5 Why are brand highlights and stories important?
                                    p.fs-5.mb-4 Here are the top four reasons why brand highlights and stories are important for your business: 
                                    
                                    h3.fw-bolder.mb-4.mt-5 01. Set a time limit
                                    p.fs-5.mb-4 Every slide within a brand highlight and story feature remains visible for up to a set time before seamlessly transitioning to the next. This makes it an excellent medium for storytelling. This format allows brands to have more informal communication. Also, present an engaging narrative compared to just including multiple static images in a standard post. 
                                    h3.fw-bolder.mb-4.mt-5 02. Keep updated
                                    p.fs-5.mb-4 Brand highlights and story features offer excellent means to keep your audience informed. With business activities, you can share anything without cluttering your main pages. Perhaps you captured a spontaneous photo that you'd like to share with the world. But it may not meet the criteria for a permanent post on your timeline. In such cases, brand highlights and story features provide an ideal platform for sharing more casual and timely content.
                                    h3.fw-bolder.mb-4.mt-5 03. Achieve brand visibility
                                    p.fs-5.mb-4 Brand highlights and story features also enhance your brand's visibility. You should engage with your customers through the brand highlight and story feature. This is because your customers are more likely to visit the product offerings on your website. And, hit the “buy” button.
                                    h3.fw-bolder.mb-4.mt-5 04. Create urgency
                                    p.fs-5.mb-4 Brand highlight and story features provide a platform to showcase special offers. It also offers glimpses of upcoming products or services—time-sensitive posts. Social posts that you may not want permanently on your feed. The limited hours of shelf life add an element of urgency, encouraging curious customers to revisit your website. Since they know that today's post will be gone tomorrow.
                                    
                                    h2.fw-bolder.mb-4.mt-5 How should you use brand highlights and stories for advertising products?
                                    p.fs-5.mb-4 Explore these five non-intrusive methods to advertise effectively using brand highlights and stories:                                    
                                    h3.fw-bolder.mb-4.mt-5 01. Special Offers
                                    p.fs-5.mb-4 Brand highlights and stories serve as excellent platforms for promoting special offers, leveraging the set timeframe of a post. With a high open rate, brand highlights and story features become an ideal channel for sharing information on special offers. Share a time-sensitive "coupon" through the brand highlight and story feature on your website. It emphasizes that the offer is valid only until the end of the highlight and story period.
                                    h3.fw-bolder.mb-4.mt-5 02. Customer Testimonials
                                    p.fs-5.mb-4 Similar to other social media platforms, you can employ customer testimonials to boost engagement with your brand highlights and stories. Sharing customer reviews serves as a valuable form of "proof." It demonstrates that your business is reputable and successful.
                                    h3.fw-bolder.mb-4.mt-5 03. Behind the Scenes
                                    p.fs-5.mb-4 Any company is more than just its products and services, which is why brand highlights and story features provide an ideal platform for revealing the human side of your organization. Unfiltered updates that offer customers a glimpse behind the scenes. It is crucial for humanizing your brand and appealing to new customers.
                                    h3.fw-bolder.mb-4.mt-5 04. Offer customer support
                                    p.fs-5.mb-4 Share frequently asked questions (FAQs), tutorials, or any other informative content that will assist your customers in maximizing the benefits of your products or services.
                                    h3.fw-bolder.mb-4.mt-5 05. Share new product launches
                                    p.fs-5.mb-4 Leverage the brand highlight and story feature to share details about the latest products or services your business is introducing. Share images or videos showcasing the new offerings. With the post, incorporate a call-to-action to prompt users to explore your website or visit your store.

                                    h2.fw-bolder.mb-4.mt-5 What are the benefits of brand highlights and stories?
                                    p.fs-5.mb-4 Here are the notable advantages of brand highlights and stories:
                                    h3.fw-bolder.mb-4.mt-5 01. Share more often
                                    p.fs-5.mb-4 Businesses often think of the frequency of their posts. If you have already posted content on your webpage or are running a paid ad, incorporating brand highlights and story features is best for you. It provides an opportunity to captivate your audience with a distinct form of media for their delight.
                                    h3.fw-bolder.mb-4.mt-5 02. Humanise your business 
                                    p.fs-5.mb-4 Creating a welcoming and approachable impression for your website is crucial. Utilizing brand highlights and stories can facilitate a deeper understanding of you and your business. Through these brief and enjoyable moments, brand highlights and stories enable the sharing of personal and relatable content, encouraging connections that bring everyone together.
                                    h3.fw-bolder.mb-4.mt-5 03. Reach people consistently
                                    p.fs-5.mb-4 In case any of your audience members miss a post, your brand highlight and story will appear at the bottom of the website, ensuring visibility. They serve as a means to re-engage a passive audience and convey updates dynamically. Insights allow you to track the number of viewers for your post.

                                    h2.fw-bolder.mb-4.mt-5 Research and reports    
                                    p.fs-5.mb-4  
                                        | Users on brand highlight and story-based platforms are 60% more likely to make prompt purchases. This presents another avenue to influence buying decisions for businesses and brands.  
                                        br
                                        a(href='https://blog.hootsuite.com/snapchat-statistics-for-business/#Snapchat_for_business_statistics') Learn more

                                    h2.fw-bolder.mb-4.mt-5 A “must have” brand highlight and story for your organisation
                                    p.fs-5.mb-4  Enhance engagement and expand your reach with brand highlights and stories. For brands and businesses encountering challenges in achieving organic reach and connecting with their audience, it's time to harness the influential potential of brand highlights and stories.
                                    
                                    h2.fw-bolder.mb-4.mt-5 Frequently Asked Question (FAQ)

                                    h2.fw-bolder.mb-4.mt-5 01. What is the brand story? 
                                    p.fs-5.mb-4 Brand storytelling employs narratives to build connections. It particularly establishes an emotional, value-driven connection between your brand and customers. The most impactful stories are authentic and resonate with the core values that underpin your brand. 

                                    h2.fw-bolder.mb-4.mt-5 02. How do you create a brand story? 
                                    p.fs-5.mb-4 To craft a compelling brand story, begin by identifying your target audience. Then start listing the key demographics of your ideal customer. Direct your narrative focus toward this specific audience. Utilize a storytelling framework during brainstorming sessions. Then start the process of writing, reviewing, and refining your story. Test it with an audience and iterate based on feedback. Finally, strategically share your refined brand story to effectively resonate with your target audience. 

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
